<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Accuracy Checker</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <style>
        body {
            background-image: url('https://storyscenes.blob.core.windows.net/background-small/{{ scene_id }}.jpg');
        }
    </style>
</head>
<body>
    <div id="blurOverlay"></div> <!-- Here's the blur overlay div -->

    <!-- Hidden div to store scene_id for JavaScript to access -->
    <div id="sceneId" data-scene-id="{{ scene_id }}" style="display: none;"></div>

    <div id="contentWrapper">
        <p id="sceneText">{{ scene.text }}</p>
        <div id="choiceButtons">
            {% for choice in scene.choices %}
            <button id="choice_{{ loop.index }}" onclick="fadeOutBeforeNavigationChoice('{{ choice.link }}')">{{ choice.text }}</button>
            {% endfor %}
        </div>
        <p id="transcriptResult">Recording: </p>
        <p id="accuracyResult">Accuracy:&nbsp;&nbsp;----</p>
        <button id="recordButton" onclick="toggleRecording()">Record</button>
    </div>
    <script src="static/js/scripts.js"></script>
</body>
</html>
