<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Accuracy Checker</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div id="contentWrapper">
        <p id="sceneText"></p>
        <div id="optionButtons">
            <button onclick="option1Function()">Option 1</button>
            <button onclick="option2Function()">Option 2</button>
        </div>
        <button id="recordButton" onclick="toggleRecording()">Start Recording</button>
        <p id="transcriptResult">Your Recording: </p>
        <p id="accuracyResult">Accuracy: </p>
    </div>
    <script src="static/js/scripts.js"></script>
</body>
</html>
